*.egg
*.egg-info/
*.py[cod]
*.so
*.sublime-workspace
.cache
.coverage
.coverage.*
.eggs/
.installed.cfg
.vscode
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env*/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
sdist/
var/

# add main directory back in
!minchin/releaser/
!minchin/releaser/*.py
!minchin/releaser/vendorize.py

# vendorized items
requirements-vendor.in
requirements-vendor.txt
minchin/releaser/_vendor
